@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@500&display=swap');

*{
	margin:0px;
	padding:0px;
}

body {
	display: flex;
}

#omaga {
	margin-left: auto;
	margin-right: auto;
	border: 1px inset red;
}

img {
	margin-left: auto;
	margin-right: auto;
}

marquee {
	font-family: 'Kufam', sans-serif;
}
#sonido{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#vid p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#vid video{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}