@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
	--color-white: #f2f2f2;
	--color-blue1: #0097B2;
	--color-blue2: #509CD0;
	--color-dark1: #1c1c1c;
	--color-text: #d9d9d9;
	--color-hover: rgb(255, 255, 255, 0.2);
}

*{
	margin:0px;
	padding:0px;
}

body {
	display: flex;
	min-height: 100vh;
	background-color: var(--color-white);
	color: var();
	flex-direction: column;
	font-family: 'Poppins', sans-serif;
	
}

.nav,
.header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header {
	position: fixed;
	background-color: var(--color-blue1);
	text-align: center;
	width: 100vw;
	height: 10vh;
	box-shadow: 1px 1px 5px var(--color-dark1);
	justify-content: space-between;
	z-index: 2;
}

h1 {
	color: var(--color-white);
	font-family: 'Poppins', sans-serif;
}

h2 {
	color: var(--color-dark1);
	font-family: 'Poppins', sans-serif;
}

.nav {
	gap: 1em;
	list-style: none;
}

#links {
	position: relative;
	display: grid;
	grid-auto-columns: max-content;
	margin-right: 35px;
/*	height: 40px;*/
}

.nav a {
	border: 1px solid transparent;
	color: var(--color-white);
	text-decoration: none;
	font-weight: bold;
}

.nav a:hover {
	border-bottom: 3px solid var(--color-text);
}

#logo {
	padding-left: 20px;
	min-width: 6vw;
	height: 6vh;
}

#logo img {
	max-height: 100%;
	max-width: 100%;
}

.conteudo{
	width: 100vw;
	height: 100vh;
	z-index: 1;
}

#quadro {
	border: 1px solid transparent;
	margin-top: 10vh;
}

iframe {
	width: 99.9%;
	height: 89%;
}

.rodape {
	display: flex;
	justify-content: center;
	margin-top: 10vh;
	height: auto;
	background-color: var(--color-blue1);
	box-shadow: 1px 1px 5px var(--color-dark1);
	color: var(--color-white);
	z-index: 2;
}

#sobre {
	margin: auto;
	text-align: center;
}

#lks {
	margin: auto;	
	text-align: center;
}

#lks a {
	text-decoration: none;
	color: var(--color-white);
}

#lks a:hover {
	border-bottom: 1px solid var(--color-text);
}

#sobre2 {
	margin: auto;
	text-align: center;
}