@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Tilt+Prism&family=Ubuntu:wght@300&display=swap');

:root {
	--color-white: #f2f2f2;
	--color-blue1: #0097B2;
	--color-blue2: #509CD0;
	--color-dark1: #1c1c1c;
	--color-text: #d9d9d9;
	--color-hover: rgb(255, 255, 255, 0.5);
	--color-backbtn: rgb(255, 255, 255, 0.3);
}

*{
	margin:0px;
	padding:0px;
}

body {
	display: flex;
	min-height: 100vh;
	background-color: var(--color-white);
	color: var();
	flex-direction: column;
	font-family: 'Lumanosimo', cursive;
	
}

.nav,
.header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header {
	background-color: var(--color-blue1);
	text-align: center;
	height: 10vh;
	box-shadow: 1px 1px 5px var(--color-dark1);
	justify-content: space-between;
}

h1 {
	color: var(--color-text);
	font-family: 'Lumanosimo', cursive;
}

.nav {
	gap: 1em;
	list-style: none;
}

#links {
	border: 1px solid black;
	width: 40px;
	height: 50px;
}

.nav li {
	width: 20px;
	height: 5px;
}

.nav a {
	color: var(--color-text);
	background: var(--color-backbtn);
	text-decoration: none;
	font-weight: bold;
}

.nav a:hover {
	border: 1px solid transparent;
	background: var(--color-hover);
}

